.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 100%;
  padding: 5px 15px;

  margin-bottom: 35px;

  & .logo-container {
    height: 100%;
    width: 200px;
    display: flex;

    align-items: center;
    @media screen and (max-width: 800px) {
      width: 100px;
    }

    img {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  & .buttonContainer {
    width: 200px;
    height: 45px;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 800px) {
      width: 100px;
      height: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    padding: 10px;
    height: 50px;
  }
}
